<%- include('../partials/adminHeader') %>
    <style>
        .card-with-shadow {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            width: 80%;
            margin: 0 auto;
            margin-top: 60px;
            margin-left: 240px;
        }

        .card-with-shadow::before,
        .card-with-shadow::after {
            content: "";
            position: absolute;
            top: 0;
            width: 10px;
            height: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
        }

        .card-with-shadow::after {
            right: 0;
            left: auto;
            background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
        }

        .card-body table {
            width: 100%;
        }

        .card-body table th,
        .card-body table td {
            text-align: center;
        }

        .table-responsive {
            overflow-x: auto;
        }

        .img-column img {
            max-width: 73px;
            height: 73px;
        }

        .btn-add-category {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    </style>
</head>

<body>

    <div class="card card-with-shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span><h3>Category management</h3></span>
            <a href="/admin/addCategory">
                <button class="btn btn-add-category">
                    <i class="fas fa-plus"></i> Add Category
                </button>
            </a>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered" id="catogery">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Category name</th>
                        <th scope="col">Created ON </th>
                        <th scope="col">Image</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Archive</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <% categoryData.forEach((data)=> { %>
                    <tr>
                        <td><%=++i %></td>
                        <td><%=data.categoryname %></td>
                        <td><%= data.date.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' }) %></td>

                        <td class="img-column"><img src="/uploadedImages/<%=data.image %>" alt="Image 1"></td>
                        <td>
                            <a href="/admin/editCategory/<%= data._id %>">
                                <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editCategoryModal">
                                    <i class="fas fa-edit" style="color: black;"></i> Edit
                                </button>
                            </a>
                        </td>
                        <td>
                            <form id="deleteCategoryForm_<%= data._id %>" action="/admin/deleteCategory/<%= data._id %>"
                                method="post" style="display:inline;">
                                <button type="button" class="btn btn-danger"
                                    onclick="deleteCategory('<%= data._id %>')">
                                    <i class="fas fa-trash-alt" style="color: white;"></i> Delete
                                </button>
                            </form>
                        </td>
                        <td class="<%= data.Status ? 'active-status' : 'blocked-status' %>" style="font-weight: bold;">
                            <%= data.Status ? 'Active' : 'Blocked' %>
                        </td>
                        <td>
                            <% if (data.Status) { %>
                                <button type="button" class="btn btn-secondary" onclick="blockCategory('<%= data._id %>')">
                                    <i class="fas fa-ban" style="color: white;"></i> Block
                                </button>
                            <% } else { %>
                                <button type="button" class="btn btn-success" onclick="blockCategory('<%= data._id %>')">
                                    <i class="fas fa-unlock" style="color: white;"></i> Unblock
                                </button>
                            <% } %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

<script>
    function deleteCategory(categoryId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Your category will be deleted, and there is no option to retrieve it.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.forms['deleteCategoryForm_' + categoryId].submit();
            }
        });
    }

    function blockCategory(categoryId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Your category will be blocked',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, block it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/admin/blockCategory/${categoryId}`, {
                    method: 'POST',
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        throw new Error('Failed to block category');
                    }
                }).catch(error => {
                    console.error(error);
                });
            }
        });
    }

    function unblockCategory(categoryId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'Your category will be unblocked',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, unblock it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/admin/unblockCategory/${categoryId}`, {
                    method: 'POST',
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        throw new Error('Failed to unblock category');
                    }
                }).catch(error => {
                    console.error(error);
                });
            }
        });
    }
</script>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>

<script>
 

    $(document).ready(function () {
        $('#catogery').DataTable();
    });
</script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css">

<%- include('../partials/adminFooter')%>