<%- include('../partials/guestnav')%>
<style>
     body {
        overflow-x: hidden;
    }
    .image-banner-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.image-banner {
    width: 100%;
    height: auto;
    display: block;
}
.card-container {
width: 18rem;
height: 20.25rem;
background-color: #F1F2F7;
position: relative;
border: 0;
border-radius: 0;
overflow: hidden;

}
.icon-heart,
.icon-cart {
    position: absolute;
    font-size: 24px;
    color: #000;
    z-index: 1;
}

.icon-heart {
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.icon-cart {
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

.additional-info {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1px;
    width: calc(100% - 20px);
    margin-left: 10px;
    z-index: 0;
    position: relative;
}

.additional-info p {
    font-size: 11.5px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    margin-top: 5px;
}
.custom-card-container {
      width: 12rem;
      height: 16.25rem;
      background-color: #ffffff; /* Updated to pure white */
      position: relative;
      border: 0;
      border-radius: 0;
      overflow: hidden;
      filter: blur(10px 30px) blur(42px);
      transition: transform 0.3s;
    }

    .custom-card-container:hover {
      transform: scale(1.05);
      box-shadow: 10px 30px 42px rgba(0, 0, 0, 0.2);
    }
    .custom-icon-heart,
    .custom-icon-cart {
      position: absolute;
      font-size: 24px;
      color: #000000;
      
    }

    .custom-icon-heart {
      bottom: 10px;
      right: 10px;
      font-size: 10px;
    }

    .custom-icon-cart {
      bottom: 10px;
      left: 10px;
      font-size: 12px;
    }

    .custom-additional-info {
      background-color: #fff;
      padding: 1rem;
      margin-top: 1px;
      width: 12rem;
      margin-left: 10px;
    }

    .custom-additional-info p {
      font-size: 11.5px;
      font-weight: 300;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0;
      margin-left: 0;
      margin-top: 0;
    }


.custom-p {
margin-left: 25px;
}
.text-uppercase a {
    text-decoration: none;
    color: white;
}

.text-uppercase a:hover {
    text-decoration: none;
    color: white;
}

.text-white a {
    text-decoration: none;
    color: white;
}

.text-white a:hover {
    text-decoration: none;
    color: white;
}

        .view-all-button-container {
            text-align: center;
        }

        .view-all-button {
            background-color: white;
            border: 1px solid black;
            color: black;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        /* Arrow Icon Styles */
        .view-all-button i {
            margin-left: 5px;
            
        }


</style>



<!-- Image Banner -->
<div class="image-banner-container">
    <img class="image-banner img-fluid"
        src="/assets/Landing page.png"
        alt="Banner Image">
</div>
<div class="container-fluid mt-4">
    <h2 class="text-center">Best Selling</h2>
    <p class="text-center">Get in on the trend with our curated selection of best-selling styles.</p>
</div>
    <!-- Card Section -->
    <div class="row " style="margin-left: 6rem;">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card-container  d-flex justify-content-center align-items-center">
                <i class="fa-regular fa-heart icon-heart"></i>
                <i class="fas fa-cart-plus icon-cart"></i>
                <img class="card-img-top"
                    src="https://static.zara.net/photos///2023/I/0/2/p/5585/311/400/2/w/315/5585311400_6_1_1.jpg?ts=1692696040462"
                    alt="Card image cap">
                
            </div>
            <div class="additional-info">
                    <p>Regular Fit Long Sleeve Top</p>
                    <p id="p">₹ 3400 </p>
                </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card-container   d-flex justify-content-center align-items-center">
                <i class="fa-regular fa-heart icon-heart"></i>
                <i class="fas fa-cart-plus icon-cart"></i>
                <img class="card-img-top"
                    src="https://static.zara.net/photos///2023/I/0/2/p/0048/315/800/2/w/315/0048315800_6_1_1.jpg?ts=1697638465985"
                    alt="Card image cap">
               
            </div>
            <div class="additional-info">
                <p>Regular Fit Long Sleeve Top</p>
                <p id="p">₹ 3400 </p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card-container  d-flex justify-content-center align-items-center">
                <i class="fa-regular fa-heart icon-heart"></i>
                <i class="fas fa-cart-plus icon-cart"></i>
                <img class="card-img-top"
                    src="https://static.zara.net/photos///2023/I/0/2/p/2688/320/064/2/w/315/2688320064_6_1_1.jpg?ts=1697638465799"
                    alt="Card image cap">
                
            </div>
            <div class="additional-info">
                <p>Regular Fit Long Sleeve Top</p>
                <p id="p">₹ 3400 </i></p>
            </div>
        </div>
    </div>
    <div  class="row">
    <div class="container mt-4">
        <h2 class="text-center">Our Products</h2>
        </div>

        <div class="row">
            <% proctData.forEach((data) => { %>
                <% if (data.Status == true) { %>
                    <div class="col-md-3">
                        <div class="custom-card-container ms-5 mt-5">
                            <a href="#" class="custom-icon-heart"><i class="fa-regular fa-heart"></i></a>
                            <a href="#" class="custom-icon-cart"><i class="fas fa-cart-plus"></i></a>
                            <a href="/user/product-view/<%= data._id %>">
                                <img class="card-img-top" src="/productimages/<%= data.images[0].filename %>"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="custom-additional-info ms-5">
                            <p><%= data.name %></p>
                            <% if (data.offer && data.offer.discountPercentage > 0) { %>
                                <div class="offer-container">
                                    <p class="custom-p"
                                        style="font-weight: bolder; display: inline-block; background-color: yellow; color: black;">
                                        ₹ <%= data.Discountedprice %>
                                    </p>
                                    <p class="custom-p"
                                        style="font-weight: bolder; display: inline-block; background-color: yellow; color: black;">
                                        <%= data.offer.discountPercentage %>% Off
                                    </p>
                                    <p class="original-price"
                                        style="text-decoration: line-through; color: black; display: inline-block; margin-left: 5px;">
                                        ₹ <%= data.price %>
                                    </p>
                                </div>
                            <% } else { %>
                                <p class="custom-p" style="margin-left: 40px; font-weight: bolder;">₹ <%= data.price %></p>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            <% }) %>
         </div>
        <div class="col-md-12 d-flex justify-content-center mt-5">
            <div class="view-all-button-container">
              <a href="/user/shop">  <button class="view-all-button">
                    View All
                    <i class="fas fa-arrow-right"></i>
                </button></a>
            </div>
        </div>
            <!-- Card 2 -->
          

       
<!-- Your main content goes here -->
<!-- Category Section -->
<!-- Category Section -->
<!-- Category Section -->
<!-- Category Section -->
<div class="col-md-12 mt-4">
<h2 class="text-center">Category</h2>
<p class="text-center">Select the Category you need</p>
</div>
<div class="row ms-5">
    <div class="d-flex flex-wrap justify-content-center align-items-center">
      <% category.forEach((product, index) => { %>
        <div class="col-md-4 mb-4">
          <div class="custom-category-box text-center" style="background-color: #F1F2F7; height: 16rem; width: 16rem; margin: 0 20px 20px 0;">
            <img class="img-fluid" src="uploadedImages/<%= product.image %>" alt="Category <%= index + 1 %>">
            <button class="btn btn-light border-dark rounded-0 mt-4" style="padding: 10px 20px;">
              <%= product.categoryname %> <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
  
        <% if ((index + 1) % 3 === 0 && (index + 1) !== category.length) { %>
          </div>
          <div class="d-flex flex-wrap justify-content-center align-items-center" style="margin-top: 180px;">
        <% } %>
      <% }); %>
    </div>
  </div>
  
   

<footer class="text-center text-lg-start text-white mt-10 " style="background-color: #8B909A; margin-top: 15rem; width:100%;">
<!-- Section: Social media -->
<section class>
    <!-- Left -->

    <!-- Right -->
    <div class="a" style="padding-top: 3rem; padding-left: 3rem;">
        <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
    <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="fw-bold" style="font-family: 'Ravie', sans-serif; font-weight:bold; font-size: 24px;">
                    SPECMEN</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; border: none;" />
                <p>
                    Find the perfect pair of sneakers to complete your look and make a statement wherever you go.
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Brands</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px;  border: none;" />
                <p>
                    <a href="#!" class="text-white">Zara</a>
                </p>
                <p>
                    <a href="#!" class="text-white">H&M</a>
                </p>
                <p>
                    <a href="#!" class="text-white">Specmen</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">HELP</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; border: none;" />
                <p>
                    <a href="#!" class="text-white">Customer Support</a>
                </p>
                <p>
                    <a href="#!" class="text-white">Delivery Details</a>
                </p>
                <p>
                    <a href="#!" class="text-white">Terms & Condition</a>
                </p>
                <p>
                    <a href="#!" class="text-white">Privacy Policy</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold">Contact</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; border: none;" />
                <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->

</footer>






<%- include('../partials/guestfooter')%>