  <%- include('../partials/usernav')%>


  <link rel="stylesheet" href="/style/card.css">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

  <style>
    body {
      background-color: #fff;
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container {
      margin: auto;
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px; /* Add gap between elements */
      position: relative;
    }

    .small-images-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 300px;
      position: sticky;
      top: 20px;
    }

    .small-image {
      margin: 5px 0 30px;
      max-width: 50px;
      width: 100%;
      height: 50px;
      cursor: pointer;
    }

    .card-container {
      width: 100%;
      max-width: 350px;
      background-color: #f1f2f7;
      position: relative;
      overflow: hidden;
      height: 500px;
    }

    .card-img-top {
      object-fit: cover;
      width: 100%;
      max-height: 500px;
      border-radius: 0;
    }

    .product-info {
      flex: 1;
      max-width: 400px;
      padding: 20px;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid #000;
      height: 500px;
    }
    .product-description{
      font-weight: 20px;
    }
    .add-to-cart-btn {
      background-color: #8bb17f;
      margin-top: 20px;
      width: 100%;
      max-width: 200px;
      border: 1px solid #000;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 768px) {
      .small-images-container {
        align-items: center;
        max-width: 100%;
        position: relative;
        top: 0;
      }

      .card-container,
      .product-info {
        max-width: 100%;
      }

      .add-to-cart-btn {
        max-width: 100%;
      }
    }
      .btn.size-button:disabled {
      border-color: #f1f1f1;
      color: #d8d3d3;
    }
    .zoomContainer {
       overflow: hidden;
       position: relative;
       width: 500px;
   }

   .zoomLens {
       border: 2px solid #fffdfd;
       cursor: crosshair;
   }

   .zoomWindow {
       background: #fff;
       border: 2px solid #aaa;
       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
   }
  </style>
  </head>

  <body>

    <div class="container">
      
      <div class="small-images-container mt-5 " id="smallImagesContainer" style="margin-top: 30px;">
          <% for (let index = 0; index < productData.images.length; index++) { %>
            <div class="small-image ms-5 mt-3">
              <img src="/productimages/<%= productData?.images[index]?.filename %>" class="card-img-top" alt="Image for Card <%= index + 1 %>">
            </div>
          <% } %> 
        </div>
        

      <div class="card-container mt-5">
        <img id="mainImage" class="card-img-top" style="margin-top: 0;"
          src="/productimages/<%= productData.images[0].filename %>" alt="Card image cap">
      </div>

      <!-- Product info container -->
      <div class="product-info mt-5">
        <h5 style="font-weight: bold;"><%= productData.name%></h5>
        <% if (productData.offer && productData.offer.discountPercentage > 0) { %>
            <!-- Display offer price, offer percentage, and original price in one line for products with offers -->
            <div class="offer-container">
                <p class="custom-p" style="font-weight: bolder; background-color: yellow; color: black; display: inline-block;">
                    ₹ <%= productData.Discountedprice %>
                </p>
                <p class="custom-p" style="font-weight: bolder; background-color: yellow; color: black; display: inline-block;">
                    <%= productData.offer.discountPercentage %>% Off
                </p>
                <!-- Display original price with strike-through -->
                <p class="original-price"
                    style="text-decoration: line-through; color: black; display: inline-block; margin-left: 5px;">
                    ₹ <%= productData.price %>
                </p>
            </div>
        <% } else { %>
            <!-- Display regular price if no offer is available -->
            <p style="font-weight: bolder;">Rs.<%= productData.price %> </p>
        <% } %>
        <p class="product-description">•<%= productData.highlight1 %></p>
        <p class="product-description">•<%= productData.highlight2 %></p>
        <p class="product-description">•<%= productData.highlight3 %></p>
        <p class="product-description">•<%= productData.highlight4 %></p>
    
        <p class="color-label" style="font-weight: bold;">Colour:<%= productData.colour %> </p>
    
        <p class="color-label">Size:
            <% productData.variant.forEach(variant => { %>
                <button type="button" class="btn  size-button" data-size="<%= variant.size%>"
                    data-quantity="<%= variant.quantity %>" data-id="<%=variant._id %>"
                    style="height: 40px; width: 40px; border: 1px solid #000; margin-right: 5px; margin-left: 5px;"
                    <%= variant.quantity < 1 ? 'disabled' : '' %>>
                    <%= variant.size %>
                </button>
            <% }); %>
            <button type="button" class="btn btn-light ms-5"
                style="height: 40px; width: 40px; border: 1px solid #000; position: relative; margin-left: 0;">
                <span
                    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold;">
                    <i class="fa-regular fa-heart" style="color: #000000;"></i>
                </span>
            </button>
        </p>
    
        <button type="button" class="add-to-cart-btn mt-3" id="addToCart"
            style="border: 1px solid #000; background-color: 8bb17f; height: 50px; width: 100%;">
            <span><i class="fa-solid fa-cart-plus" style="color: #000000;"></i></span> Add to Cart
        </button>
    </div>
    </div>
<hr style="margin-top: 70px;">


    <h5 style="margin-top: 50px; margin-left: 50px; font-weight: bold;">Related Products</h5>
<div class="row">
  <% relatedProducts.forEach(relatedProduct => { %>
    <div class="col-md-3">
      <div class="custom-card-container ms-5 mt-5">
        <a href="#" class="custom-icon-heart"><i class="fa-regular fa-heart"></i></a>
        <a href="#" class="custom-icon-cart"><i class="fas fa-cart-plus"></i></a>
        <a href="/user/product-view/<%= relatedProduct._id %>">
          <img class="card-img-top" src="/productimages/<%= relatedProduct.images[0].filename %>"
            alt="Card image cap">
        </a>
      </div>
      <div class="custom-additional-info ms-5">
        <p><%= relatedProduct.name %></p>
        <p class="custom-p" style="margin-left: 40px; font-weight: bolder;">₹ <%= relatedProduct.price %></p>
      </div>
    </div>
  <% }); %>
</div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"></script>


  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <script>
 
    $(document).ready(function () {
      $(".small-images-container .small-image").click(function () {
        var newImageSrc = $(this).find("img").attr("src");
        $("#mainImage").attr("src", newImageSrc);
        initializeImageZoom();
      });

      initializeImageZoom();

      function initializeImageZoom() {
        $('#mainImage').elevateZoom({
          zoomType: "inner",
          cursor: "crosshair",
          responsive: true,
          borderSize: 0,
          easing: true,
          gallery: 'multi-item-example',
          galleryActiveClass: 'active',
          lensBorderSize: 1,
          lensShape: 'round',
          containLensZoom: true
        });
      }
    })
 </script>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const smallImagesContainer = document.getElementById('smallImagesContainer');
    const mainImage = document.getElementById('mainImage');
    const addToCartBtn = document.getElementById('addToCart');

    smallImagesContainer.addEventListener('click', function (event) {
      if (event.target.classList.contains('card-img-top')) {
    
        const clickedImageSrc = event.target.src;

      
        mainImage.src = clickedImageSrc;
        
      }
    });

    const sizeButtons = document.querySelectorAll('.size-button');

sizeButtons.forEach(button => {
  const quantity = parseInt(button.getAttribute('data-quantity'));

  new bootstrap.Tooltip(button, {
    placement: 'top',
    title: quantity < 10 ? `Hurry! Only ${quantity} ${quantity === 1 ? 'item' : 'items'} left.` : '',
  
  });

  button.addEventListener('click', function () {
    const isButtonActive = button.classList.contains('btn-dark');

    sizeButtons.forEach(btn => {
      btn.classList.remove('btn-dark');
    });

    if (!isButtonActive) {
      button.classList.add('btn-dark');
    }
  });
});

 




 addToCartBtn.addEventListener('click', function () {
  // Check if at least one size button is selected
  const selectedSize = document.querySelector('.size-button.btn-dark');
  if (!selectedSize) {
    // If no size is selected, show a Toastify message to the user
    Toastify({
      text: "Please select a size before adding to the cart.",
      className: "info",
      position: 'center',
      gravity: "top",
      duration: 3000,
      style: {
        background: "white",
        color: "#000",
        marginTop: "80px",
      }
    }).showToast();
    return;
  }

  const productId = '<%= productData._id %>';
  const size = selectedSize.getAttribute('data-size');
  const sizeId =selectedSize.getAttribute('data-id')
  try {
    fetch(`/user/add-to-cart/${productId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ size,sizeId }),
    }).then(response => {
      if (response.ok) {
        showToast("Item added to the cart successfully!");
      } else {
        return response.json();
      }
    })
    .then(data => {
      if (data && data.error) {
        showToast(data.error);
      }
    });
  
  } catch (error) {
    console.error('Error:', error);
  }
});

// Function to show Toastify message
function showToast(message) {
  Toastify({
    text: message,
    className: "success", 
    position: 'center',
    gravity: "top",
    duration: 3000,
    style: {
      background: "white",
      color: "#000",
      marginTop: "80px",
    }
  }).showToast();
}


      function updateSizeButtons(quantity) {
        const sizeButtons = document.querySelectorAll('.size-button');

        sizeButtons.forEach(button => {
          button.disabled = quantity === 0 || parseInt(button.getAttribute('data-quantity')) < 1;
        });
      }


    });

  </script>
<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha384-GLhlTQ8iK1iKFY9PCJFbb6AyOBHjC1M1TwLd5ULC4NlGAYOqDGlC1qzKw5c8Tda" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-rZo+Jb46p9z7fjzDO9shCjbQz1TNPnNfmGc5b3PP9UmphRRV5ujlwg6jqSMsWK3D" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

      

    <%- include('../partials/userlogfoter')%>
  </body>

  </html>
